body {
    background-image: url("../images/music_tile.png");
}

.main {
    background-color: white;
    min-height: 100vh;
    padding: 0;
}

.releases {
    padding: 1rem;
}

.tabs .nav-item.active {
    background-color: #007bff;
}

.tabs .nav-item.active>a {
    color: white;
}

#storeLogo {
    height: 10rem;
}